html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background: url("https://images.unsplash.com/photo-1434989407504-46a53b1b8a6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
	font-size: 1.7em;
	color: #ffffff
}

.intro > p {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 1em;
	color: white;
}

.main {
	width: 450px;
	height: 100%;
	padding-bottom: 25px;
	margin-top: 40px;
  margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 3px solid #ffffff;
	background-color:rgba(0, 0, 0, 0.1);
}

.header {
	width: 100%;
  	height: 70px;
  	text-align: center;
}

.logo {
	margin-top: 20px;
}

.intro {
	text-align: center;
}

hr {
	width: 350px;
	border-color: #00ece4;
}

.add-items {
	width: 400px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: #FFFFFF;
	display: inline-block;
	opacity: 0.7;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 1em;
	color: #545454;
	text-align: center;
}

.example {
color: #545454}

.list, .textinput {
	text-align: center;
}

.result {
	width: 400px;
	height: 50px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: #A4E2E0;
	text-align: center;
	display: inline-block;
}

.result-remove {
	width: 400px;
	height: 50px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: #E2A4A4;
	text-align: center;
	text-decoration: line-through;
	display: inline-block;
}

.result, .result-remove > p {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1em;
	color: Black;
}

.close {
	float: right;
	position: relative;
	bottom: 43px;
	margin-right: 9px;
	cursor: pointer;
}

.check {
	float: left;
	position: relative;
	top: 10px;
	margin-left: 9px;
	margin-right: -36px;
	cursor: pointer;
}

.add {
	float: left;
	position: relative;
	top: 10px;
	margin-left: 9px;
	margin-right: -36px;
	cursor: pointer;
	display: none;
}
