<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROFILE</title>
    <link href="css/profile.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="css">
    <script src="js/jquery-3.4.1.js"></script>
    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>

</head>
<body style="background:url('https://images.unsplash.com/photo-1578664934514-789f4fb29160?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');background-position: center;
  background-repeat: no-repeat;
  background-size: cover; ">

<div class="side_wrapper">
  <section class="about-dev">
    <header class="profile-card_header">
      <div class="profile-card_header-container">
        <div class="profile-card_header-imgbox">
          <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Mewy Pawpins" />
        </div>
        <h1>Nimo Said <span>Software Engineer Fellow</span></h1>
      </div>
    </header>
    <div class="profile-card_about">
    <br>
      <br>
    <md-input-container flex>
      <label>About:  </label>
      <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web Standards Compliance, Performance Optimization, Cross Device Troubleshooting.</p>
     
      <md-input-container flex>
      <label>Name:  </label>
      <p>Nimo Said</p>
     
    </md-input-container>
     
      <md-input-container flex>
      <label>Role:  </label>
      <p>Software Engineer</p>
     
    </md-input-container>
     
      <md-input-container flex>
      <label>Phone Number:  </label>
      <p>0707963284</p>
     
    </md-input-container>
      
      <md-input-container flex>
      <label>Department:  </label>
      <p>Information Tecnology</p>
     
    </md-input-container>
     <div class="social-media">
			<div class="col_1"></div>
			<div class="col_2"></div>
			<div class="col_3"></div>
		</div>

      <footer class="profile-card_footer">
      <div id="icons" styles="align: center;">
            <img src="icons/icn_google.png">
            <img src="icons/icn_instagram.png">
            <img src="icons/icn_linkedin.png">
            <img src="icons/icn_twitter.png">
            <img src="icons/icn_facebook.png">
        </div>
      <md-button class="md-icon-button" ng-if="viewMode" ng-click="switchMode()">
          <md-tooltip>
            Edit Profile
          </md-tooltip>
       
      </footer>

    </div>
  </section>
</div>
</body>